/*Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings) = #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
*/
body {
    background-color: lightgrey;
}
hr {
    border: 2px solid #b3b3b3;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    font-style: normal;
    color:#ffffff;
}
h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    font-style: normal;
    color: #4aaaa5;
}
h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    color: #4aaaa5;
}
h4 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #777777;
}
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: #777777;
    line-height: 220%;
}
blockquote {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
/*---------------------------------------------------------  Navbar Stuff  ---------------*/
.nav-container {
    max-width: 960px;
    margin: 0 auto;
    color:  #ffffff;
}
/*mobile navbutton class*/
.navbar-toggle {
    margin-top: 30px;
    border: none;
}
/*Nav buttons*/
.navbar-nav {
    margin-top: 25px;
}
/*Navbar font*/
.navbar {
    min-height: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
}
/* Navbar Hover */
.navbar-default .navbar-nav>li>a:hover { 
    color: #4AAAA5;
    background: aliceblue; 
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

}
/* Navbar Active */
.navbar-default .navbar-nav > .active > a {
    color:aliceblue;
    background: #4AAAA5;
}
/* Navbar Active Hover */
.navbar-default .navbar-nav > .active > a:hover {
    color: aliceblue;
    background: #4AAAA5;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
} 
/*the logo*/
.navbar-brand {
    margin: 0px;
    padding: 0 15px; 
    height: 90px; 
    width: 250px;
    text-align: center;
    line-height: 90px;
    background-color: #4AAAA5;
}
/* Logo Link Hover CSS*/
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: aliceblue;
    background-color: #4AAAA5;
}
/*-----------------------------------------  The main stuff  -----------------*/
.content-border {
    margin: 0 auto;
    max-width:960px;;
    margin-top: 130px;
}
.content {
    margin: 0 auto;
    padding: 0px 30px 30px 30px;
    max-width: 650px;
    background-color:white;
    float: left;
    margin-bottom: 40px;
}
.portfolio-box {
    float: left;
}
.portfolio-box img{
    max-width: 100%;
    margin-bottom: 25px;
}

/*-- About Image --*/
.mypicture {
    float: left;
    margin: 0em 2em 0em 0em;
}
/*-----------------------------------------  Contact Page CSS  ---------------*/
/*Contact input styles*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/*Contact Text Area*/
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
}
/*Contact submit button*/
.btn {
    background-color: #4AAAA5;
    padding: 10px 30px;
    margin-top: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: aliceblue;
}
                    /*--  Contact Page Connect with Me CSS --*/

/*Connect Me CSS*/
.connect-container {
    width: 265px;
    height: 200px;
    background-color: white;
    float: left;
    padding: 15px;
    margin-left: 40px;
    text-align: center;
}
@media screen and (min-width: 480px) {
    .connect-container {
        visibility:hidden
    }
}
/*Connect Me img padding*/
.connect-container img { 
    padding: 5px;
}
/*--------------------------------------------------------  Footer  ----------------------*/
.footer {
    clear: both; 
    border-top: 10px solid #4AAAA5;
    max-width: 100%;
    height : 90px;
    padding-top: 20px;
    background-color: #666666;
    text-align: center;
    margin: 0 auto;
    color: #666666;
}

/* footer aligns to the bottom
#footer {
position : absolute;
bottom : 0;
height : 40px;
margin-top : 40px;
}
*/








